$primaryColor: #295679; 
$secondaryColor: rgb(214, 214, 214);
$accentColor: pink;
$greyColor: #ccc;

$defaultFont:"IBM Plex Serif", serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 16px;